* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #ddd;
}


/* navbar */

nav {
    display: flex;
    background-image: url(gambar3.jpg);
    justify-content: space-around;
    /* padding: 20px 0; */
    color: #f4f80c;
    height: 50px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: #f4f80c;
    text-decoration: none;
    font-size: 0.8em;
    padding: 5px;
}

nav ul li a:hover {
    color: rgba(250, 240, 255, );
    background-color: rgba(18, 18, 241, 0.911);
    cursor: pointer;
}


/* hamburger menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 20px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}


/* animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* ukuran tablet */

@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}


/* ukuran mobile */

@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-image: url(gambar3.jpg);
        z-index: -1;
        transform: translateX(100%);
        transition: all 2s;
        opacity: 0;
        -webkit-transition: all 1.5s;
        -moz-transition: all 2s;
        -ms-transition: all 2s;
        -o-transition: all 2s;
    }
    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}